body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: url('../../images/background.jpg') no-repeat center center fixed;
  background-size: cover;
}

.button {
  padding: 10px;
  background-color: #3742fa;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #2f33c9;
}

.expense-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centers content vertically */
  height: 100vh;
}

.storeExpense {
  font-size: 1.8rem;
  color: #3742fa;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
}

.stores-grid {
  display: flex;
  gap: 2rem; /* Space between Lidl and Mercator */
  margin-bottom: 2rem; /* Space before the button */
}

.store-option {
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.store-option img {
  width: 120px;
  height: auto;
}

.store-option:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px rgba(55, 66, 250, 0.4);
}
